/* Font start*/

@font-face {
  font-family: Cubano;
  src: url(../fonts/Cubano.ttf);
}
@font-face {
  font-family: Brandon_bld;
  src: url(../fonts/Brandon_bld.otf);
}
@font-face {
  font-family: Brandon_reg;
  src: url(../fonts/Brandon_reg.otf);
}
@font-face {
  font-family: Brandon_reg_it;
  src: url(../fonts/Brandon_reg_it.otf);
}
@font-face {
  font-family: Brandon_med;
  src: url(../fonts/Brandon_med.otf);
}

@font-face {
  font-family: Brandon_light;
  src: url(../fonts/Brandon_light.otf);
}

/* Font end*/

body{
  margin: 0;
  padding: 0;
}

.top-part{
  background-image: url(../images/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header{
  width: 100%;
}

.wrapper{
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  padding: 20px 0 0;

}

.logo{
  width: 20%;
  float: left;
  margin-top: 5px;
}

.logo img{

}

.navigation{
  width: 70%;
  float: right;
}

.navigation ul{
  float: right;
}

.navigation ul li{
  float: left;
  list-style: none;
  
}

.navigation ul li a{
  padding: 0 20px;
  text-decoration: none;
  font-family: Brandon_bld;
  font-size: 18px;
  color: white;
  transition: 0.5s;
}

.navigation ul li a:hover{
   color: #9B8C89;
}


.navigation ul li:last-child a{
  padding-right: 0px;
}

/* Banner start*/

.banner{
  width: 100%;
}

.c-align{
  text-align: center;
  padding: 88px 0 120px;
}

.title-1{
  font-family: Brandon_light;
  font-size: 30px;
  color: white;
  margin: 20px 0;
}

.title-2{
  font-family: Brandon_bld;
  font-size: 50px;
  color: white;
  text-transform: uppercase;
  margin: 20px 0;
}

.learn-more{
  margin: 75px 0 20px;
}

.learn-more button{
    background-color: transparent;
    border: 2px solid white;
    padding: 15px 50px;
    border-radius: 4px;
    color: white;
    font-family: Brandon_bld;
    font-size: 25px;
    transition: .5s;
  }

.learn-more button:hover{
  background-color: white;
  color: black;
}

/*Banner end*/

/* Web Development start*/

.content{
  width:60%;
  float: left;
}


.topmargin{
  margin-top: 80px;
}

.font-bold{
  font-family: Brandon_bld;
}

.c-heading{
  font-family: Brandon_light;
  font-size: 60px;
  margin-top: 0px;
}

.contentp{
  font-family: Brandon_reg;
  color: #777777;
  font-size: 18px;
}

.sideimage{
  width: 30%;
  float: right;
}
/* Web Development End*/

/* Identity Branding Start*/

.identity-brand{
  background-color: #FAFAFA;
}

.sideimage2{
  width: 30%;
  float: left;
}


.content2{
  width:60%;
  float: right;
}

/* Identity Branding End*/


/* Service Section Start*/

.service{
  width: 100%;
  margin: 100px auto;
}

.service1{
  width: 45%;
  float: left;
}

.service1-icon{
  float: left;
  width: 17%;
  margin-left: 10px;
} 

.service1-details{
  float: right;
  width: 80%;
} 

.service1-details h3{
  font-family: Brandon_reg;
  margin: 0 auto;
  font-size: 22px;
}

.service2{
  width: 45%;
  float: right;
}

/* Service Section  end */

/* Client Section Start*/

.client{
  width: 100%;
  background-color: #FAFAFA;
  margin-bottom: 80px;
}

.client-head{
  text-align: center;
  padding: 10px 0 50px;
}


.client-quote{
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
 
}


.client-text{
  float: right;
  width: 60%;
  margin-top: 25px;
  padding: 10px;
}

.client-pic{
  float: left;
  width: 30%;
}
.client-heading{
  font-family: Brandon_light;
  font-size: 60px;
  margin: 0px;
}

.speech-bubble {
	position: relative;
	background: #ffffff;
        
	border-radius: .4em;

}

.speech-bubble:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 40px solid transparent;
  border-right-color: #ffffff;
  border-left: 0;
  border-top: 0;
  margin-top: -10px;
  margin-left: -40px;
}


.client-text1{
  float: left;
  width: 60%;
  margin-top: 25px;
  padding: 10px;
}

.client-pic1{
  float: right;
  width: 30%;
}

.speech-bubble1 {
	position: relative;
	background: #ffffff;
	border-radius: .4em;
}

.speech-bubble1:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 40px solid transparent;
  border-left-color: #ffffff;
  border-right: 0;
  border-top: 0;
  margin-top: -10px;
  margin-right: -40px;
}
/* Client Section End*/
 
/* Brand Section Start*/
.brand{
  width : 100%;
}

.wrapper-center{
  margin: 0 auto;
  margin: 0 auto;
  overflow: hidden;
  width: 75%;  
}

.brandimg{
  float: left;
  padding: 0 20px;
}

/* Brand Section End*/

/* Team Section Start*/

.team{
  background-color: rgb(162, 228, 76);
  margin-top: 50px;
  background-color: black;
}
.team-head{
  color: white;
  text-align: center;
  padding: 10px 0 50px;
}

.teammembers{
  margin: 0 auto;
    width: 85%;
    overflow: hidden;
}

.teammem1{
  width: 32%;
  text-align: center;
  float: left;
}

.member-name{
  font-family: Brandon_bld;
    font-size: 20px;
    color: white;
}

.membertitle{
  font-family: Brandon_reg;
  color: white;
}

.teamdesc{
  text-align: center;
  margin: 60px auto;
  color: white;
  font-family: Brandon_reg;
  font-size: 18px;
}

.socialicons .fa {
  padding: 10px;
  width: 12px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  border: 5px solid white;
}

/*.fa:hover {
    opacity: 0.7;
}*/

.fa-facebook {
  color: white;
}

.fa-twitter {
  color: white;
}

.fa-linkedin {
 color: white;
}



/* Team Section End*/

/*Newsletter Section Start*/

.newsletter{
  width: 100%;
  color: white;
  background-color: #7690C5;
  padding: 100px 0 0;
}

.newsletter-info{
  float: left;
  width: 40%;
}

.newsletter-form{
  width: 40%;
  float: right;
  min-height: 400px;
}


.hello-desc{
  margin: 20px auto;
  color: white;
  font-family: Brandon_reg;
  font-size: 18px;
}

.contact{
  width: 100%;
  margin: 25px auto;
  overflow: hidden;

}

.contact1{
  width: 45%;
  margin: 0 auto;
  overflow: hidden;
  float: left;
}

.contact2{
  width: 45%;
  float: right;
}

.contact i{
  font-size: 45px;
}

.contact2 i{
  font-size: 30px;
  margin: 5px auto;
}

.ico{
  float: left;
  margin: 0 auto;
}

.mobile{
  padding: 0 20px;
}

.mobile-num{
  width: 75%;  
  float: right;
  font-family: Brandon_reg;
  font-size: 20px;
  margin: 8px auto;
}

.newsletter-form form{
  margin: 0 auto;
  text-align: center;
}

.formdiv{
  margin: 35px auto;
}

.newsletter-form form input{
  width: 90%;
  min-height: 40px;
  border-radius: 5px;
  border: 1px solid transparent;
}


textarea{
  border-radius: 10px;
  width: 90%;
}

.line{
  width: 70%;
  border-bottom: 1px solid #87A0D2;
  min-height: 50px;
  margin: 0 auto;
}

.footer-credit{
  width: 80%;
  margin: 24px auto;
  text-align: center;
  padding-bottom: 50px;
  font-family: Brandon_reg;
  font-size: 18px;
}

.fa-mobile:hover{
   color: lightskyblue;
}

.fa-envelope:hover{
   color: darkgrey;
}


.fa-twitter:hover{
    color :#1DA1F2;
}

.fa-pinterest-p:hover{
	
    color:#CB1F27;
}

.fa-facebook:hover{
   color :#4267B2;
}

.fa-instagram:hover{
   color : #FAAC92;
}


/*Newsletter Section End*/

/**/
